.card {
  display: flex;
  text-align: center;
  align-items: center;
  border: 2px solid gray;
  height: 100%;
  cursor: pointer;
  background: rgb(34, 34, 34);
  color: white;

  &.central {
    background: white;
    color: rgb(34, 34, 34);
  }

  &.selected {
    transform: scale3d(1.04, 1.04, 1.04);
  }

  .owner {
    flex: 1;
  }

  .address {
    flex: 3;
    display: flex;
    flex-direction: column;
  }

  .income {
    flex: 1;
  }
}


