@import "hostmaker/src/layout/layout.scss";

.total {
    padding: 10px 10px 0 10px;
    font-size: 24px;
    font-weight: bold;

    .negative {
        .title {
            display: block;
        }

        .description {
            font-size: 16px;
            font-weight: initial;
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.item {
    flex: 0 1 100%;
    box-sizing: border-box;
    margin: 5px;

    @include sm {
        flex-basis: calc(50% - 10px);
    }
    @include md {
        flex-basis: 100%;
    }

    @include lg {
        flex-basis: calc(50% - 10px);
    }

    @include xl {
        flex-basis: calc(33% - 10px);
    }
}
