@import "~reset-css";
@import "hostmaker/src/layout/layout.scss";

.page {
  display: flex;

  .list {
    flex: 1 1 100%;
    height: 100vh;
    overflow: scroll;
  }

  .mapWrapper {
    flex: 1 1 100%;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .map {
      height: 100vh;
      pointer-events: initial;
      transform: translateY(100%);
      will-change: transform;
      transition: transform 0.3s ease-out;

      &.active {
        transform: translateY(0);
      }

      @include md() {
        transform: none;
      }
    }

    @include md() {
      position: static;
    }
  }

  .mapIcon {
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px #888888;
    position: fixed;
    bottom: 40px;
    right: 50px;
    width: 50px;

    &:active {
      transform: scale(0.94);
    }

    @include md() {
      display: none;
    }
  }
}
