.markerWrapper {
  .marker {
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    background: rgb(34, 34, 34);
    cursor: pointer;
    color: white;

    &::before {
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 8px;
      height: 8px;
      position: absolute;
      border-color: rgba(0, 0, 0, 0.2);
      border-style: solid;
      border-width: 0 1px 1px 0;
      background: rgb(34, 34, 34);
      content: "";
    }

    &.selected {
      transform: translate(-50%, -50%) scale(1.2);
    }

    &.central {
      background: white;
      color: rgb(34, 34, 34);
      &::before {
        background: white;
      }
    }
  }
}
